<html>
  <head>
    <title>Authentication with Fastify</title>
  </head>

  <body>
    <h1>Authentication with Fastify</h1>

    <% if (typeof user !== 'undefined' && user) { %>
    <p>Hello <%= user.username %>!</p>
    <p><a href="/auth/logout">Logout</a></p>
    <% } else { %>
    <p><a href="/auth/login">Login</a></p>
    <% } %>
  </body>
</html>
